---
// src/pages/index.astro
import './global.css';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const products = await getCollection('products');


---



<Layout title="Codetails.cl - Venta de Arena">

  <main>  
    <h1 class="text-center text-7xl font-extrabold">Miluz 
      <span class="block">Pets</span>
      <section arial-label="arena sanitaria">
        <div class="grid gap-6 md:grid-cols-2">

        </div>

      </section>
    </h1>
    
</h1>

      
  </main>

</Layout>
